<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Connect Database-->
    <resource-ref>
        <description>This is for connect to MySQL Database</description>
        <res-ref-name>jdbc/MySqlDatabase</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <!--Servlets-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlets.User.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.User.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ViewPortServlet</servlet-name>
        <servlet-class>Servlets.Post.ViewPortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPortServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Test.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Servlets.User.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    
    <!--Session-->
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
