<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Connect Database-->
    <resource-ref>
        <description>This is for connect to MySQL Database</description>
        <res-ref-name>jdbc/MySqlDatabase</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <!--Session-->
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    
    <!--Servlets-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlets.User.RegisterServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PostLikeServlet</servlet-name>
        <servlet-class>Servlets.Post.PostLikeServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.User.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.User.UserServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.User.LoginServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>Servlets.Post.PostDetailServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>Servlets.Post.PostServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Test.TestServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>Servlets.User.UserProfileServlet</servlet-class>
    </servlet>
    
<!--    Servlet Mapping-->

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PostLikeServlet</servlet-name>
        <url-pattern>/post/detail/like</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
        <url-pattern>/user/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/post/detail</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
        <url-pattern>/post/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    
</web-app>
